test-data/**
src/**
spec/**
coverage/**
.vscode/**
.build/spec/**
dev-env/**
example/**

.snyk
docker-compose.yml
Dockerfile
junitresults.xml
README.md
tsconfig.json
tslint.json
upgrade-dependencies.sh
yarn.lock
